
.container{
 background-color: black;
 width: 678px;
 height: 562px;
 margin: 0 auto;
 padding: 0;
 text-align: center;
}

.blockcontainer{
 position: relative;
 top: 5px;
}

.displaybox{
 display: inline-block;
}

.img > img{
 background-color: red;
 width: 220px;
 height: auto;
}

.thirdbox{
 clear: both;
}
