
.container{
 background-color: black;
 width: 678px;
 height: 562px;
 margin: 0 auto;
 padding: 0;
 text-align: center;
}

.blockcontainer{
 position: relative;
 top: 5px;
}

.displaybox{
 display: inline-block;
}

.img > img{
 background-color: red;
 width: 220px;
 height: auto;
}

.thirdbox{
 clear: both;
}

p{
 display: block;
 position: absolute;
 visibility: hidden;
}

.displaybox:hover p{
 visibility: visible;
}

p#first{
 left: 110px;
 top:220px;
}

p#second{
 left: 330px;
 top:220px;
}

p#third{
 left:560px;
 top:220px;
}

p#fourth{
 top:500px;
 left:110px;
}

p#fifth{
 top:500px;
 left: 330px;
}

p#sixth{
 top:500px;
 left:560px;
}
